.container.slideshow__container {
    padding-top: 3rem;
    width: 40%;
    padding-bottom: 4rem;
    position: relative;
}

.slide {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.slide img {
    height: 40%;
    width: 80%;
}

