.navbar {
    background: var(--color-primary);
    position: sticky; 
    top: 5.8rem;
    z-index: 1;   
}
nav{
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    gap: 3rem;  
}

nav a {
    text-align: center;
    margin: 0 10px;
    text-decoration: none;
    color: var(--color-bg);
}

nav a:hover {
    background: var(--color-sm);
    border-radius: 0.5rem;
}

nav a.active {
    background: var(--color-bg);
    border-radius: 0.5rem;
    color: white;
}

.disabled-link {
    color: gray;
    pointer-events: none;
    text-decoration: none;
    cursor: not-allowed;
}

.menu-icon {
    display: none;
    cursor: pointer;
}
.menu-button{
    
    display: none;
}

/* ============= MEDIA QUERIES (for 1024px) ============= */
@media screen and (max-width: 1024px) {
    nav  {
        /* padding: 0; */
        gap: 0.5rem;
        /* font-size: 1rem; */
    }
}

/* ============= MEDIA QUERIES (for 600px) ============= */
@media screen and (max-width: 700px) {
    .nav__items {
        display: none;
    }
    .nav__items.active{
        display: flex;
        flex-direction: column;
    }
    nav a {
        /* margin-right: 0; */
        margin-bottom: 10px;
    }
    .menu-button{
        width: 40px;;
        height: 40px;
        cursor: pointer;
        display: block;
        position: absolute;
        left: 90%;
        z-index: 2;
        margin-top: -70px;
    }
    .menu-button.active{
        
    }
}