.footer {
    background-color: #bdbdbd;
    /* padding: 0 20px 10px 0; */
    height: auto;
    width: 100%; 
    color: black;
    align-items: center;
    justify-content: center;
}
.footerabove{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: auto 2 auto;
}
.footerLeft{
    float: left;
    padding-top: 23px;
    text-align: center;
    padding-left: 80px;
}
.footerHeading{
    font-size: 18px;
}
.footerCenter{
    padding-top: 40px;
    text-align: center;
    /* padding-left: 234px; */
}
.rguktLogo{
    width: 240px;
    height: 140px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.footerRight{
    padding-top: 23px;
    text-align: center;
} 
.footer__socialMedia {
    display: flex;
    gap: 1rem;
    /* margin-bottom: 4rem; */
    /* padding-left: 500px; */
}

.footerbelow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__socialMedia a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socialMedia a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.footer__copyright {
    /* margin-bottom: 2rem; */
    color: var(--color-bg);
}
footer a {
    color: var(--color-bg);
}


/* ============ MEDIA QUERIES(medium DEVICES) =========== */
@media screen and (max-width: 1080px) {
    .footerabove{
        padding: auto;
    }
    .footerRight{
        width: auto;
        text-align: center;
    }
    .footerbelow{
        padding: auto;
    }
}

/* ============ MEDIA QUERIES(Small DEVICES) =========== */

@media screen and (max-width:700px) {
    .footerabove{
        display: flex;
        flex-direction: column;
    }
    .footerabove{
        padding: auto;
    }
    .footerRight{
        width: auto;
        padding-top: 23px;
        text-align: center;
    }
    .footer__copyright{
        margin: auto;
    }
}