/* Imageslide  css */
.slider {
  padding-top: 0px;
  position: relative;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 350px;
  border-radius: 15px;
  object-fit: fill;
}

.right-arrow {
  position: absolute;
  top: 45%;
  right: 0px;
  font-size: 3rem;
  color: var(--color-bg-variant);
  cursor: pointer;
  user-select: none;
  background-color: unset;
  z-index: 1;
  opacity: 0;
}

.left-arrow {
  position: absolute;
  top: 45%;
  left: 0px;
  font-size: 3rem;
  color: var(--color-bg-variant);
  cursor: pointer;
  user-select: none;
  background-color: unset;
  z-index: 1;
  opacity: 0;
}

button:hover {
  opacity: 1;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 2s;
  transform: scale(1.08);
}

.showMore{
  display: flex;
  align-items: center;
  justify-content: center;
}
.showMore button{
  background-color: aqua;
  border-radius: 30%;
  cursor: pointer;
}
.showMore button span{
  width: 10px;
}

/* ============ MEDIA QUERIES(MEDIUM DEVICES) =========== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  
}

/* ============ MEDIA QUERIES(SMALL DEVICES) =========== */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
